<div class="flex space-x-4 justify-center mt-8">
  <div class="flex items-center justify-center">
    <span>
      Cuidados
    </span>
  </div>
  <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      (click)="changeStateNewParent()">
      Añadir Padre
    </button>
  </div>
  <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      (click)="changeStateNewCare()">
      Añadir Cuidado
    </button>
  </div>
  <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="clearData()">
      Limpiar
    </button>
  </div>
</div>

<div *ngIf="!newParent && !newCare">
  <app-cuidados [cares]="cares"></app-cuidados>
</div>

<div *ngIf="newParent">
  <app-new-parent [newParent]="newParent" (emitParent)="addNewParent($event)"></app-new-parent>
</div>

<div *ngIf="newCare">
  <app-new-care [parents]="parents" [newCare]="newCare" (emitCares)="addNewCare($event)"></app-new-care>
</div>